body {
  background-color: #000000;
  padding: 0;
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: inline;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
  padding-right: 10px;
}

li a:hover {
  text-decoration: none;
  color: darkgrey;
  background-color: black;
}

.text-center {
  color: white;
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
  
}
.text-left {
  color: white;
  align-items: left stretch;
  justify-content: left;
  flex-flow: wrap;
  padding-left: 25px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;  /* Ensures it's behind the main content */
}
.h1 {
  font-size: 75px;
  flex-wrap: wrap;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%; 
}

.cardsection {
  display: flex;
  align-items: center stretch;
  justify-content: center;
  flex-flow: wrap;
  }

@media only screen and (max-width: 600px){
  .cardsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .h1 {
    font-size: 50px;
  }
}

.dropshadow {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

.card {
  transition: transform 0.3s ease;  /* makes the zoom and shadow effects smooth */
  will-change: transform, box-shadow; /* optimization hint for the browser */
  background-color: #333;
  color: white;
  transition: 0.3s;
  width: 25%;
  margin: 1%;
  vertical-align: bottom;
}


.card:hover {
  transform: scale(1.02); /* slightly zoom in */
}

.container {
  padding: 2px 16px;
}

/* CV CSS */

.button {
  background-color: green ;
  color: white;
  border: 2px solid;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.cv {
  margin: auto;
  background-color: #333;
  color: white;
  padding: 20px;
  width: 75%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  display: flex;
  align-items: stretch baseline;
  justify-content: left;
  flex-flow: wrap;
}

#name {

  width: 48%;
  margin-left: 0.5%;
  vertical-align: bottom;
  text-align: left;
}

#PersonalProfile { 
  width: auto;
  margin: 0.5%;
  vertical-align: bottom;
}

#WorkExperience, #Education { 
  width: 48%;
  margin: 0.5%;
  vertical-align: bottom;
}

#WorkandEducation {  margin: 0;
  display: flex;
  align-items: stretch baseline;
  justify-content: left;
  flex-flow: wrap;}

@media only screen and (max-width: 800px) {

  #Education, #WorkExperience { 
    width: 100%;
    margin: 0.5%;
    vertical-align: bottom;
  }

  #name {

    width: 100%;
    margin-left: 0.5%;
    vertical-align: bottom;
    text-align: left;
  }

  .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;  /* makes the zoom and shadow effects smooth */
    will-change: transform, box-shadow; /* optimization hint for the browser */
    background-color: #333;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
    margin: 1%;
    border: 1%;
    vertical-align: bottom;
  }  
  
  .card:hover {
    box-shadow: 0 2px 6px 0 #333;
    transform: scale(1.05); /* slightly zoom in */
  }
}

.tile {
  margin: 6%;
  border: 6%;
  background-color: #333;
  color: white;
  align-items: stretch;
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: min-content;
}

.tile.is-ancestor {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-top: 0.75rem;
}

.tile.is-ancestor:last-child {
  margin-bottom: 0.75rem;
}

.tile.is-ancestor:not(:last-child) {
  margin-bottom: 0.75rem;
}

.tile.is-child {
  margin: 0 !important;
}

.tile.is-parent {
  padding: 0.75rem;
}

.tile.is-vertical {
  flex-direction: column;
}

.tile.is-vertical > .tile.is-child:not(:last-child) {
  margin-bottom: 1.5rem !important;
}

@media screen and (min-width: 769px), print {
  .tile:not(.is-child) {
    display: flex;
  }
  .tile.is-1 {
    flex: none;
    width: 8.33333%;
  }
  .tile.is-2 {
    flex: none;
    width: 16.66667%;
  }
  .tile.is-3 {
    flex: none;
    width: 25%;
  }
  .tile.is-4 {
    flex: none;
    width: 33.33333%;
  }
  .tile.is-5 {
    flex: none;
    width: 41.66667%;
  }
  .tile.is-6 {
    flex: none;
    width: 50%;
  }
  .tile.is-7 {
    flex: none;
    width: 58.33333%;
  }
  .tile.is-8 {
    flex: none;
    width: 66.66667%;
  }
  .tile.is-9 {
    flex: none;
    width: 75%;
  }
  .tile.is-10 {
    flex: none;
    width: 83.33333%;
  }
  .tile.is-11 {
    flex: none;
    width: 91.66667%;
  }
  .tile.is-12 {
    flex: none;
    width: 100%;
  }
}
